<!-- King -->
<div id="kingscup" class="project">
	<section class="stripebg project-hero">
		<div class="container center">
			<hr style="opacity:0;" class="margin0 margin-20"/>
			<img src="images/kingscup/logo.png" width="300"/><br>
			<img src="images/kingscup/mock.png" width="400"/>
		</div>
		<hr style="opacity:0;" class="margin30 margin-0"/>
	</section>
	<hr style="opacity:0;" class="margin0 margin-100"/>

	<section class="stripebg" >
		<div class="container">
			<div class="row">
				<div class="eight columns center offset-by-four">
					<h3 class="client">The King's Cup</h3>
					<h5>UI + Visual Design</h5>
					<br/>
					<p>I'm currently designing the user interface, as well as illustrations, for The King's Cup app with WellGoodApps, an app development studio based in the UK.</p>
					<a href="//invis.io/H3441AQ8K" target="_blank">Check out my clickable prototype</a>
				</div>
				<hr style="opacity:0;" class="margin10 margin-20"/>
			</div>
			<div class="row">
				<img style="margin-left:10px" class="four columns" src="images/kingscup/illustrations1.jpg"/>
				<img style="margin-left:10px" class="four columns" src="images/kingscup/illustrations2.jpg"/>
				<img style="margin-left:10px" class="four columns" src="images/kingscup/illustrations3.jpg"/>
				<img style="margin-left:10px" class="four columns" src="images/kingscup/illustrations4.jpg"/>
			</div>
		</div>
		<hr style="opacity:0;" class="margin40 margin-40"/>
	</section>

	<!-- Process -->
	<section class="stripebg" id="appScreen">
		<hr style="opacity:0;" class="margin40 margin-40"/>
		<div class="container">
			<div class="seven columns offset-by-two">
				<img id="screen" src="images/kingscup/card.png" width="300"/>
			</div>
			<div class="five columns">
				<hr style="opacity:0;" class="margin50 margin-50"/>
				<p>Since this app is designed for slightly inebriated users, the buttons are BIG, bold, & red so that they are hard to miss.</p>	
				<p><a style="color: white;" href="//www.interaction-design.org/ux-daily/89/fittss-law-the-importance-of-size-and-distance-in-ui-design">Yep, Fitt's Law!</a></p>
			</div>
		</div>
	</section>

	<section class="stripebg">
		<div class="container">
			<div class="row">
				<div class="ten columns center offset-by-three">
					<hr style="opacity:0;" class="margin40 margin-40"/>
				</div>
				<hr style="opacity:0;" class="margin10 margin-20"/>
				<img src="images/kingscup/screens.jpg"/>
			</div>
		</div>
	</section>
</div>