<!-- Intro -->
<div id="intro" class="stripebg">
	<div class="container">
		<hr style="opacity:0;" class="margin0 margin-70"/>
		<p><img src="images/intro-icon.png" width="180"/></p>
		<h3 class="fadeInDown animated ">Hi, I'm Julia! I'm a UI Designer for mobile + web apps.<br>
Currently designing at SpoonRocket.</h3>
		<p><a href="#/spoonrocket">Learn more <i class="fa fa-long-arrow-right"></i></a></p>
		
		<hr style="opacity:0;" class="margin70 margin-0"/>
	</div>
</div>

<!-- CORP -->
<div id="prj-SRGroupOrder" class="stripebg">	
	<div class="container row prj">
		<hr style="opacity:0;" class="tophr margin0 margin-150"/>		
						
		<div class="ten columns">
			<img src="//i.imgur.com/1e2vjSA.png"/>
		</div>

		<div class="six columns">
			<br><br>
			<h3>SpoonRocket Group Orders</h3>
			<br class="invisible">
			<h5>UI Design</h5>
			<p>SpoonRocket Group Orders is revolutionizing lunch breaks for teams based in the SF Bay Area.</p>
			<hr style="opacity:0;" class="margin0 margin-10"/>
			<a href="//group.spoonrocket.com/" target="_blank"><div class="prjbtn">Visit Site
			<i class="fa fa-long-arrow-right"></i></div></a>
		</div>

		<hr style="opacity:0;" class="margin0 margin-100"/>
	</div>
</div>

<!-- SB2-->
<div id="prj-SB2" class="stripebg">	
	<div class="container row prj">
		<hr style="opacity:0;" class="tophr margin0 margin-150"/>
		
		<div class="six columns">
			<br><br>
			<h3>SB2 Enterprises</h3>
			<br class="invisible">
			<h5>Design & Front-end</h5>
			<p>Simple online business card for an I.T. Consultant based in Washington D.C.</p>
			<hr style="opacity:0;" class="margin0 margin-10"/>
			<a href="#/sb2"><div class="prjbtn">
				View Project <i class="fa fa-long-arrow-right"></i>
			</div></a>
		</div>

		<div class="ten columns">
			<img src="//i.imgur.com/Ly0IeHW.png"/>
		</div>

		<hr style="opacity:0;" class="margin0 margin-100"/>
	</div>
</div>

<!-- MRT -->
<div id="prj-MRT" class="stripebg">
	<div class="container row prj">
		<hr style="opacity:0;" class="tophr margin0 margin-150"/>

		<div class="ten columns">
			<img src="//i.imgur.com/HL1Sl8z.png"/>
		</div>

		<div class="six columns">
			<br><br>
			<h3>MRT Confessions</h3>
			<br class="invisible">
			<h5>Design & Code</h5>
			<p>Taipei Metro riders anonymously share what they really think of the Taipei MRT.</p>
			<hr style="opacity:0;" class="margin0 margin-10"/>
			<a href="//mrt-confessions.com/" target="_blank"><div class="prjbtn">
				Visit Site <i class="fa fa-long-arrow-right"></i>
			</div></a>
		</div>

		<hr style="opacity:0;" class="margin0 margin-100"/>	
	</div>		
</div>	

<!-- PSP-->
<div id="prj-PSP" class="stripebg">	
	<div class="container row prj">
		<hr style="opacity:0;" class="tophr margin0 margin-150"/>		
		
		<div class="six columns">
			<br>
			<h3>UCSB Phi Sigma Pi</h3>
			<br class="invisible">
			<h5>Design & Front-end</h5>
			<p>Phi Sigma Pi Co-ed Honor Fraternity has over 200 chapters across the nation. This is the landing page for Phi Sigma Pi's UCSB Chapter, which I founded during my freshman year.</p>
			<hr style="opacity:0;" class="margin0 margin-10"/>
			<a href="//www.join.ucsbphisigmapi.org/" target="_blank"><div class="prjbtn">
				Visit Site <i class="fa fa-long-arrow-right"></i>
			</div></a>
		</div>

		<div class="ten columns">
			<img src="//i.imgur.com/oKvuDSA.png"/>
		</div>

		<hr style="opacity:0;" class="margin0 margin-100"/>
	</div>
</div>

<!-- Qwerty -->
<div id="prj-Qwerty" class="stripebg">
	<div class="container row prj">
		<hr style="opacity:0;" class="tophr margin0 margin-150"/>

		<div class="ten columns">
			<img src="//i.imgur.com/oFREk6B.png"/>
		</div>

		<div class="six columns">
			<br><br>
			<h3>Qwerty Game</h3>
			<br class="invisible">
			<h5>Visual Design</h5>
			<p>Type as fast as you can to save the town!</p>
			<hr style="opacity:0;" class="margin0 margin-10"/>
			<a href="#/qwerty" target="_blank"><div class="prjbtn">
				Play Game <i class="fa fa-long-arrow-right"></i>
			</div></a>
		</div>

		<hr style="opacity:0;" class="margin0 margin-100"/>	
	</div>		
</div>

<!-- King's Cup -->
<div id="prj-kingscup" class="stripebg">
	<div class="container row prj">
		<hr style="opacity:0;" class="tophr margin0 margin-150"/>

		<div class="ten columns">
			<img src="//i.imgur.com/HAztLf1.png"/>
		</div>

		<div class="six columns">
			<br><br>
			<h3>King's Cup</h3>
			<br class="invisible">
			<h5>Visual Design</h5>
			<p>Collaborating with WellGoodApps, a UK-based mobile development studio, to create a mobile app for the classic drinking game. (Coming soon to the App Store + Google Play!)</p>
			<hr style="opacity:0;" class="margin0 margin-10"/>
			<a href="#/kingscup"><div class="prjbtn">
				View Project <i class="fa fa-long-arrow-right"></i>
			</div></a>
		</div>	

		<hr style="opacity:0;" class="margin0 margin-100"/>	
	</div>		
</div>