<!-- SB2 -->
<div id="sb2" class="project">
	<section class="stripebg project-hero">
		<div class="container center">
			<hr style="opacity:0;" class="margin20 margin-20"/>
			<img src="images/sb2/sb2.png"/>
		</div>
		<hr style="opacity:0;" class="margin30 margin-30"/>
	</section>
	<hr style="opacity:0;" class="margin0 margin-100"/>

	<!-- Process -->
	<section class="stripebg">
		<div class="container">
			<div class="row">
				<div class="ten columns center offset-by-three">
					<h3 class="client">SB2 Enterprises</h3>
					<h5>UI Design, HTML/CSS</h5>
					</br>
					<p>My client, a tech consultant, wanted an extremely simple online business card to allow prospective clients contact him easily. He wanted to show that he's professional yet fun and wanted a website that looked nice on computer screens as well as mobile browsers.</p>
				</div>
			</div>
			<hr style="opacity:0.1;" class="margin50 margin-50"/>
			
			<div class="row">
				<div class="ten columns center offset-by-three">
					<h4>Wireframe</h4>
					<p>The target audience of this website was SB2 Enterprises’ prospective clients so I made a few sketches that utilized the above the fold space so that prospective clients could focus on what’s important: getting in touch.</p>
				</div>
			</div>

			<div class="row">
				<div class="one-third column">
					<img src="images/sb2/sb2_1.jpg"/>
				</div>
					
				<div class="one-third column">
					<img src="images/sb2/sb2_2.jpg"/>
				</div>
					
				<div class="one-third column">
					<img src="images/sb2/sb2_3.jpg"/>
				</div>
			</div>
			<hr style="opacity:0.1;" class="margin50 margin-50"/>
			
			<div class="row">
				<div class="ten columns center offset-by-three">
					<h4>Visual Design</h4>
					<p>After the client approved the layout, I used a color scheme that showed consistency with SB2 Enterprises' brand image. I presented the client with multiple variations of the color scheme. The ones below are just a few examples.</p>	
					<p>The client wanted to seem trustworthy and experienced but still fun, so in the end I decided to use a dark blue background with a touch of pink for the button.</p>
				</div>
				<hr style="opacity:0;" class="margin10 margin-20"/>
				
				<div class="eight columns">
					<img src="images/sb2/sb2_4.jpg"/>
				</div>
					
				<div class="eight columns">
					<img src="images/sb2/sb2_5.jpg"/>
				</div>
			</div>
			<hr style="opacity:0.1;" class="margin50 margin-50"/>

			<div class="row">
				<div class="ten columns center offset-by-three">
					<h4>Code</h4>
					<p>I coded SB2's business card in HTML and CSS. I wrote a bunch of CSS media queries to ensure that the site looked good on mobile devices and added a reset stylesheet to make it consistent cross-browser.</p>
					<a href="//www.sb2ent.com/" target="_blank">View it live ></a>
				</div>
			</div>
		</div>
	</section>
</div>