<!-- SB2 -->
<div id="spoonrocket" class="project">
	<section class="stripebg project-hero">
		<div class="container center">
			<hr style="opacity:0;" class="margin20 margin-70"/>
			<h1>"Do what you love and you'll never<br>work a day in your life."</h1>
			<h4>Working at SpoonRocket never felt like work at all.</h4>
		</div>
		<hr style="opacity:0;" class="margin70 margin-30"/>
	</section>
	<hr style="opacity:0;" class="margin0 margin-100"/>

	<!-- Process -->
	<section class="stripebg" >
		<div id="about" class="container">
			<div class="row">
				<div class="ten columns center offset-by-three">
					<h3 class="client">SpoonRocket</h3>
					<h5>Role: Design, etc.</h5>
					</br>
					<p>
						During my first year @SpoonRocket, I did a bit of everything:<br>
						user flows, wireframes, high fidelity mockups, interactive prototypes, usability tests, email designs, basic front-end, 
						photography, marketing, graphic design, and even wrote some (pretty bad) sql queries. 
					</p>
				</div>
			</div>
			
			<!-- Featured project -->
			<div class="row">
				<hr style="opacity:0.1;" class="margin50 margin-50"/>
				<div class="ten columns center offset-by-three">
					<h4>Recent Project: Tweet to Eat</h4>
					<p>
						I photographed, designed, and coded this page to promote our breakfast launch in San Francisco. The JavaScript was modified from the open source library, <a style="color:#888; border:none;" href="//gist.github.com/adamloving/1194126">Viral Gate</a>.
					</p>
					<a href="//www.hello.spoonrocket.com/tweet2eat" target="_blank">View it live!</a>
				</div>
				<hr style="opacity:0;" class="margin10 margin-50"/>
				<img src="images/spoonrocket/tweet.jpg"/>
			</div>	
				
			<!-- -->
			<div class="row">
				<hr style="opacity:0.1;" class="margin50 margin-50"/>
				<div class="ten columns center offset-by-three">
					<h4>Illustrations</h4>
					<p>Illustrations are really important at SpoonRocket. They bring personality to our brand.</p>
				</div>
				<hr style="opacity:0;" class="margin10 margin-20"/>
				<div class="eight columns">
					<img src="images/spoonrocket/summer.jpg"/>
				</div>
				<div style="margin-left:20px;" class="eight columns">
					<img src="images/spoonrocket/busy.jpg"/>
				</div>
				<div class="sixteen columns">
					<br>
					<img src="images/spoonrocket/secret.jpg"/>
				</div>
			</div>
			<hr style="opacity:0.1;" class="margin50 margin-50"/>

			<!-- -->
			<div class="row">
				<div class="ten columns center offset-by-three">
					<h4>UI & Visual Design</h4>
					<p>Designed the user interface and visual design for a variety of features.<br>(More coming soon!)</p>
				</div>
				<hr style="opacity:0;" class="margin10 margin-20"/>
				<div class="row twelve columns offset-by-two">
					<img src="images/spoonrocket/extension.jpg"/>
					<img src="//i.imgur.com/pYc9qVi.jpg"/>
				</div>
			</div>
			
			<!-- Photo -->
			<div class="row">
				<hr style="opacity:0.1;" class="margin50 margin-50"/>
				<div class="ten columns center offset-by-three">
					<h4>Food Photography</h4>
					<p>I recently took over the responsibility of photographing<br>our food products.</p>
					<a href="//www.softcorefoodporn.tumblr.com" target="_blank">View more!</a>
				</div>
				<hr style="opacity:0;" class="margin10 margin-50"/>
				<div class="row">
					<div class="four columns"><img src="images/spoonrocket/sushi.jpg"/></div>
					<div style="margin-left:10px;" class="four columns"><img src="images/spoonrocket/greenbeans.jpg"/></div>
					<div style="margin-left:10px;" class="four columns"><img src="images/spoonrocket/smoothie1.jpg"/></div>
					<div style="margin-left:10px;" class="four columns"><img src="images/spoonrocket/mac-cheese.jpg"/></div>
				</div>
			</div>
		</div>
	</section>
</div>